version: 2.1

commands:
  ci:
    steps:
      - checkout
      - restore_cache:
          key: npm-h77RWG-{{ checksum "package-lock.json" }}
      - run: |
          npm ci --no-optional
      - save_cache:
          paths: ~/.npm
          key: npm-h77RWG-{{ checksum "package-lock.json" }}

jobs:
  publish:
    docker:
      - image: node:18.4.0-alpine@sha256:a27df330224bb16312064cc8653793d7438129c8ec6699ae523eb5baaa7f5fb4
    steps:
      - run: |
          apk add --no-cache git openssh-client
      - ci
      - run: |
          test "$(node -p 'require("./package-lock.json").version')" = "$CIRCLE_TAG"
          test "$(node -p 'require("./package.json").version')" = "$CIRCLE_TAG"
          npm run build
          echo //registry.npmjs.org/:_authToken="$NPM_TOKEN" >>.npmrc
          npm publish


workflows:
  version: 2

  unspecific:
    jobs:
      - publish:
          context: npm-publish
          filters: { branches: { only: /x^/ }, tags: { only: /.*/ } }
